.form {
    display: flex;
    flex-direction: column;
    > * {
        margin-bottom: $m-size;
    }
}

.form__error {
    font-style: italic;
    background: rgb(245, 176, 176);
    margin: 0 0 $m-size 0;
    padding: $s-size;
}